*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.grid-37{
	display: grid;
	grid-template-columns: 250px 1fr;

	#left-side{
		height: 100vh;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    align-items: center;
	}
}
.footer{
	&__social{
		display: table;
		width: 100%;
	    border: 1px solid #ddd;
	}
	&__icon{
		display: table-cell;
	    text-align: center;
	    border-right: 1px solid #ddd;
	    padding: 0;
	    line-height: 40px;

		&:last-child{
			border-right: none;
		}
	}
}